<section class="calendar">
	<button class="left">⬅&#xFE0E;</button>
	<div class="calendarscroller clearfix">
		<ul class="calendar">
		{% for event in site.data.calendar %}
			<li class="event">
				<time datetime="{{ event.date }}">{{ event.date }}</time>
				{% if event.url %}<a href="{{event.url}}">{% endif %}
				<span>{{ event.description }}</span>
				{% if event.url %}</a>{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
	<button class="right">➡&#xFE0E;</button>
	<script>
		var monthNames = ["January", "February", "March",
						"April", "May", "June", "July",
    					"August", "September", "October",
    					"November", "December"]
		var events = document.querySelectorAll('.calendar .event')
		for (var e = 0; e < events.length; e++) {
			var event = events[e]
			var dateElement = event.querySelector('time')
			var date = new Date(dateElement.getAttribute('datetime'))
			var today = new Date()
			// match hr/min/sec/ms of the two dates
			today.setHours(date.getHours(), date.getMinutes(), date.getSeconds(), date.getMilliseconds())
			var tomorrow = new Date(today)
			tomorrow.setDate(today.getDate() + 1)
			if (date < today) {
				event.remove()
				continue
			}
			if (date.toDateString() == today.toDateString()) {
				event.className = event.className + ' today'
			}
			if (date.toDateString() == tomorrow.toDateString()) {
				event.className = event.className + ' tomorrow'
			}
			var niceDate = '' + date.getDate() + ' ' + monthNames[date.getMonth()] + ' ' + date.getFullYear()
			dateElement.innerHTML = niceDate
		}

		function showButtons() {
			var elem = document.querySelector('section.calendar .calendarscroller')
			var lbtn = document.querySelector('.calendar button.left')
			var rbtn = document.querySelector('.calendar button.right')

			console.log({  clientWidth: elem.clientWidth,
							 scrollWidth: elem.scrollWidth,
							 scrollLeft: elem.scrollLeft     })

			lbtn.style.display = 'block'
			rbtn.style.display = 'block'
			if (elem.clientWidth < elem.scrollWidth) {
				if (elem.scrollLeft < 1) {
					rbtn.style.display = 'none'
				}
				if (elem.scrollLeft + elem.clientWidth >= elem.scrollWidth ) {
					lbtn.style.display = 'none'
				}
			} else {
				lbtn.style.display = 'none'
				rbtn.style.display = 'none'
			}
			return true
		}

		document.querySelector('section.calendar .calendarscroller').onscroll = showButtons

		document.querySelector('.calendar button.left').onclick = function(e) {
			var elem = document.querySelector('section.calendar .calendarscroller')
			elem.scrollLeft = elem.scrollLeft + (elem.clientWidth/4)
			setTimeout(showButtons, 0)
			e.preventDefault()
			return false
		}

		document.querySelector('.calendar button.right').onclick = function(e) {
			var elem = document.querySelector('section.calendar .calendarscroller')
			elem.scrollLeft = elem.scrollLeft - (elem.clientWidth/4)
			setTimeout(showButtons, 0)
			e.preventDefault()
			return false
		}

		setTimeout(showButtons, 100)
	</script>

</section>