<!-- Weekly Updates Section -->
    <section id="sessions" class="bg-dark-pic">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
		 		<div class="col-lg-12">
                	<h2 class="section-heading">Blog Posts</h2>
                	<h3 class="section-subheading text-muted">What Have We Been Up To?</h3>

                 		 {% for post in site.posts %}
				 {% if post.type == 'blogpost' %}

                  			<a class='eventTitle' href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
				  {% endif %}
				  {% endfor %}

		      </div>
              </div>
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog Posts</h2>
                    <h3 class="section-subheading text-muted">Fresh Tips</h3>
                </div>
            </div>
            <div class="col-lg-12 text-center">
              <!-- Only current posts stay up -->

                {% for post in site.posts %}
				 {% if post.type == 'blogpost' %}
                	<a class='eventTitle' href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                 <div class='eventSub'>{{ post.text }}</div> <!-- For some reason this line makes the posts display as columns not as a single line of text  -->
                  {% endif %}
              {% endfor %}
			</div>
		</div>
	</section>


