	<!-- Blog Posts Section -->
    <section id="blogindex">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
		 <div class="col-lg-12">
                	<h2 class="section-heading">Blog Posts</h2>
                	<h3 class="section-subheading text-muted">What Have We Been Up To?</h3>
				
                 		 {% for post in site.posts %}
				 {% if post.type == 'blogpost' %}
				
                  			<a class='eventTitle' href="https://github.com/jcu-eresearch-hackyhour/JCUHackyHour/{{ post.url }}">{{ post.title }}</a>
				 
				  {% endif %}
				  {% endfor %}
			 
		      </div>	
              </div>
            </div>
        </div>
    </section>
