.team-member img.img-responsive {
 max-width: 110px;
}
.team-member i.fa {
 font-size: 110px;
}
.eventupleftdiv { 
   width:33%; 
   height: 100%; 
   background:red; float:left; 
}
.eventuprightdiv { 
   width:67%; 
   height:50%; 
   background:blue; 
   float:left
}
.eventbelowdiv { 
   height:50%; 
   width:67%; 
   background:green 
}
