<!DOCTYPE html>
<html>
{% include head.html %}

  <body id="page-top" class="index">

    {% include navbar.html %}
    
    <h1 style="border: 100px solid black; border-width: 100px 0; background: black; color: white;">{{ page.title }}</h1>
    
    <div class="col-lg-6">
      
    {{ content }} 
      
    </div>
    
    <div class="col-lg-6">
      <h1>DETAILS</h1>
      <dl>
        <dt>WHERE?</dt>
          {% if page.subLocation %}
          <dd>{{ page.location }}, {{ page.subLocation }}</dd>
          {% else %}
          <dd>{{ page.location }}</dd>
          {% endif %}
        <dt style="margin-top: 2em">WHEN?</dt>
        <dd>{{ page.startDate }}</dd>
        <dt style="margin-top: 2em">COST?</dt>
        {% if page.eventCost %}
          <dd>{{ page.eventCost }}</dd>
          {% endif %}
      </dl>
    </div>
    
    <div class="row">
    <div class="col-lg-12 text-center">
    
      <p>
      <a class='eventTitle' href="{{ page.eventLink }}">Visit The {{ page.title }} Website</a>
      <br>
      <a class='eventTitle' href="{{ page.signupLink }}">Sign Up For {{ page.title }} Here</a>
      </p>       
          
    </div>
    </div>

    <hr>
    
    {% include js.html %}
    
  </body>
  
</html>
